*{
    /* background-color: bisque; */
    margin: 5px;
}

img {
    width: 0.5fr;
    height: 660px;
    margin: 5px;
    border-radius: 10px;
    border-color: azure;
}

header{
    display: flex;
    align-items: top;
    flex-direction: column;
    justify-content: center;
    background-color: #dfcdd8;
    grid-area: he;
}

.heads{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1{
    font-size: 12rem;
    backface-visibility: visible;
}

h2{
    font-size: 12.2rem;
}

h3{
    font-size: 10rem;
}

h4{
    font-size: 7rem;
}

h5{
    font-size: 7rem;
}

.small_grid_1{
    display: grid;
    grid-column: 1fr 1fr;
    grid-row: 25vh 30vh 30vh minmax(100, 25vh);
    grid-template-areas:
    "he he" 
    "b1 b1"
    "b3 b3"
    "fo fo"
    ;
}

.box_1{
    display: flex;
    justify-content: space-around; 
    grid-area: b1;
}

.box_3{
    grid-area: b3;
    display: flex;
    justify-content: space-between;
}

footer{
    grid-area: fo;
    background-color: #dfcdd8;
}

#card_layout{
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly ;
}

article{
    border: 3px solid black;
    border-radius: 20px;
    height: 40vh;
    width: 850px;
}
.text{
    backface-visibility: 80%;
    color: rgb(72, 117, 156);
}

.col{
    color: rgb(22, 59, 94);
}

#Greta{
    background: url(../img/persons/127_white_black_male.jpg);
    background-size: cover;
}

#Bertil{
    background: url(../img/persons/Second.jpg);
    background-size: cover;
}
#Stig_Gunnar{
    background: url(../img/persons/Third.jpg);
    background-size: cover;
}
#pruton{
    background: url(../img/persons/fourth.jpg);
    background-size: cover;
}

p{
    font-size: 3rem;
}

.Grid_oss{
    display: grid;
    grid-column: 1fr 1fr;
    grid-row: 65vh;
    grid-template-areas: 
    "g1 g2"
    ;
}

#fund{
    grid-area: g2;
}

#make{
    grid-area: g1;
}

.float_pic{
    margin-bottom: 5px;
    padding-bottom: 5px;
    width: 880px;
    height: auto;
}